
@using ecomerce.Model
@model IOTInfo
@{ ViewData["Title"] = "SendMail"; }

@*<h1>SendMail</h1>

    <form asp-action="SendMail" method="post" enctype="multipart/form-data">
        <div class="p-4 rounded border row">
            <div asp-validation-summary="ModelOnly" class="text-danger">

            </div>
            <div class="col-8">



                <div class="form-group row">
                    <div class="col-4">
                        <label>المحتوى</label>
                    </div>
                    <div class="col-8">
                        <input asp-for="Body" readonly="readonly" class="form-control" />
                    </div>
                    <span asp-validation-for="Body" class="text-danger"></span>
                </div>
                <div class="col-8">

                    <input type="submit" class="btn btn-info form-control" value="ارسال" />

                </div>
                <div class="form-group">
                    <a asp-action="Index" class="btn btn-success">الصفحة الرئيسية</a>
                </div>
            </div>



        </div>
    </form>*@


<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmer house-user-data page</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <link href="~/css/testStore.css" rel="stylesheet" />
    <!--css file link  -->
    <link rel="stylesheet" href="~/css/testStore.css">

</head>
<body>

    <!-- header section starts  -->

    <header>

        <div class="header-2">

            <a href="#" class="logo"> <img src="~/lib/Images/icons8-farm-64.png"/> Farmer House </a>

            <form action="" class="search-bar-container">
                <input type="search" id="search-bar" placeholder="search here...">
                <label for="search-bar" class="fas fa-search"></label>
            </form>

        </div>

        <div class="header-3">

            <div id="menu-bar" class="fas fa-bars"></div>

            <nav class="navbar">
                <a href="home.html">الصفحة الرئيسية</a>
                <a href="shop.html">المتجر</a>
                <a href="features.html">المميزات</a>
                <a href="about.html">معلومات عنا </a>
                <a href="review.html">المراجعات</a>
                <a href="blog.html">المقالات</a>
                <a href="content.html">اتصل بنا</a>
            </nav>

            <div class="icons">
                <a href="#" class="fas fa-shopping-cart"></a>
                <a href="#" class="fas fa-heart"></a>
                <a href="#" class="fas fa-user-circle"></a>
                <a href="#" class="fas fa-plus-square"></a>
            </div>

        </div>

    </header>

    <!-- header section ends -->
    <!--head part-->
    <div class="cart-head head">
        <h1>بيانات المستخدم</h1>
    </div>

    <!-- user-data page starts-->
    <section class="user-data">
        <div class="box-container">
            <form class="user-data-content" asp-action="IOTRegistration" method="post" enctype="multipart/form-data">


                <div class="inputBox">


                    <input asp-for="number" type="number" placeholder="" class="box">
                    <label class="user-label">التليفون المحمول</label>

                    <input asp-for="name" type="text" placeholder="" class="box">
                    <label class="user-label">الاسم</label>
                </div>

                <div class="inputBox">
                    <input asp-for="Governorate" type="text" placeholder="" class="box">
                    <label class="user-label">المحافظة</label>

                    <input asp-for="city" type="text" placeholder="" class="box">
                    <label class="user-label">المدينة</label>
                </div>

                <div class="inputBox">
                    <input asp-for="street" type="text" placeholder="" class="box">
                    <label class="user-label">الشارع</label>
                    <input asp-for="Region" type="text" placeholder="" class="box">
                    <label class="user-label">المنطقة</label>
                </div>
                <div class="inputBox">
                    <input asp-for="specialMarque" type="text" placeholder="" class="box">
                    <label class="user-label">علامة مميزة </label>
                    <input asp-for="houseNumber" type="text" placeholder="" class="box">
                    <label class="user-label">رقم المنزل</label>
                </div>


                <input type="submit" value="حفظ" class="btn">
                @*<input type="submit" value=" أضف موقعك  " class="btn">*@


            </form>

            <!--

            -->
        </div>
    </section>



    <!--user-data page ends-->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="home.html"> <i class="fas fa-tractor"></i> الصفحة الرئيسية </a>
                <a href="shop.html"> <i class="fas fa-tractor"></i> المتجر</a>
                <a href="features.html"> <i class="fas fa-tractor"></i> المميزات</a>
                <a href="about.html"> <i class="fas fa-tractor"></i> معلومات عنا</a>
                <a href="review.html"> <i class="fas fa-tractor"></i>المراجعات</a>
                <a href="blog.html"> <i class="fas fa-tractor"></i> المقالات</a>
                <a href="contact.html"> <i class="fas fa-tractor"></i>  اتصل بنا</a>
            </div>

            <div class="box">
                <h3>روابط إضافية</h3>
                <a href="#"> <i class="fas fa-tractor"></i> طلبي</a>
                <a href="#"> <i class="fas fa-tractor"></i> حسابي </a>
                <a href="#"> <i class="fas fa-tractor"></i> المفضلة </a>
                <a href="#"> <i class="fas fa-tractor"></i> farmer friend تطبيق </a>
                <a href="#"> <i class="fas fa-tractor"></i> farmer club تطبيق </a>
                <a href="#"> <i class="fas fa-tractor"></i>فريقنا  </a>
            </div>

            <div class="box">
                <h3>تابعنا</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>

    </section>

    <section class="credit">created by Hend EL_Ghandour </section>

    <!-- footer section ends -->
    <!-- loader part
    <div class="loader-container">
        <img src="images3/farm.gif" alt="">
    </div>
    -->
    <!-- js file link  -->
    <script src="~/js/testStore.js"></script>
</body>
</html>
