@using ecomerce.Dtos
@model MailRequestDto
@{
    ViewData["Title"] = "SendMail";
}

<h1>SendMail</h1>

<form asp-action="SendMail" method="post" enctype="multipart/form-data">
    <div class="p-4 rounded border row">
        <div asp-validation-summary="ModelOnly" class="text-danger">

        </div>
        <div class="col-8">



            <div class="form-group row">
                <div class="col-4">
                    <label>المحتوى</label>
                </div>
                <div class="col-8">
                    <input asp-for="Body" readonly="readonly" class="form-control" />
                </div>
                <span asp-validation-for="Body" class="text-danger"></span>
            </div>
            <div class="col-8">

                <input type="submit" class="btn btn-info form-control" value="ارسال" />

            </div>
            <div class="form-group">
                <a asp-action="Index" class="btn btn-success">الصفحة الرئيسية</a>
            </div>
        </div>



    </div>
</form>

