@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="ar" dir="rtl">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/styleAdminDashBoard.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <title> Dashboard</title>
</head>

<body>
    <partial name="_header" />
    <div class="container">
        <aside>
            <div class="top">
                <div class="logo">
                    <a href="home.html" class="active">
                        <span class="material-icons">home</span>
                        <h3>الصفحة الرئيسية</h3>
                    </a>
                </div>
                <div class="close" id="close-btn">
                    <span class="material-icons">close</span>
                </div>
            </div>

            <div class="sidebar">
                <a href="dash.html" class="active">
                    <span class="material-icons">grid_view</span>
                    <h3>لوحة التحكم</h3>
                </a>

                <a href="orders.html">
                    <span class="material-icons">receipt_long</span>
                    <h3>الطلبات</h3>
                </a>

                <a href="messages.html">
                    <span class="material-icons">mail_outline</span>
                    <h3>الرسائل</h3>
                    <span class="message-count">12</span>
                </a>
                <a href="products.html">
                    <span class="material-icons">inventory</span>
                    <h3>المنتجات</h3>
                </a>
                <a href="customers.html">
                    <span class="material-icons">persons</span>
                    <h3>العملاء</h3>
                </a>

                <a href="add product.html">
                    <span class="material-icons ">add</span>
                    <h3>إضافة منتج</h3>
                </a>
                <a href="profile.html">
                    <span class="material-icons">person_outline</span>
                    <h3>الملف الشخصي</h3>
                </a>
                <a href="home.html ">
                    <span class="material-icons ">logout</span>
                    <h3>تسجيل الخروج</h3>
                </a>
            </div>
        </aside>

        <main>
            <h1>لوحةالتحكم</h1>
            <div class="date ">
                <input type="date ">
            </div>
            <div class="insights ">
                <div class="sales ">
                    <span class="material-icons ">analytics</span>
                    <div class="middle ">
                        <div class="left ">
                            <h3>إجمالي المبيعات</h3>
                            <h1>$18,250</h1>
                        </div>
                        <div class="progress ">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number ">
                                <p>81%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted ">اخر 24 ساعة</small>
                </div>

                <div class="expenses ">
                    <span class="material-icons ">bar_chart</span>
                    <div class="middle ">
                        <div class="left ">
                            <h3>إجمالي الربح</h3>
                            <h1>$12,500</h1>
                        </div>
                        <div class="progress ">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number ">
                                <p>62%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted ">اخر 24 ساعة</small>
                </div>

                <div class="income ">
                    <span class="material-icons ">stacked_line_chart</span>
                    <div class="middle ">
                        <div class="left ">
                            <h3>إجمالي الدخل</h3>
                            <h1>$11,190</h1>
                        </div>
                        <div class="progress ">
                            <svg>
                                <circle cx='38' cy='38' r='36'></circle>
                            </svg>
                            <div class="number ">
                                <p>44%</p>
                            </div>
                        </div>
                    </div>
                    <small class="text-muted ">اخر 24 ساعة</small>
                </div>
            </div>

            <div class="recent-orders ">
                <h2>أحدث الطلبات</h2>
                <table>
                    <thead>
                        <tr>
                            <th>اسم المنتج</th>
                            <th>رقم المنتج</th>
                            <th>سعر المنتج</th>
                            <th>حالة البيع</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>فاكهة</td>
                            <td>85631</td>
                            <td>15$</td>
                            <td class="warning ">انتظار</td>
                            <td class="primary ">التفاصيل</td>
                        </tr>
                        <tr>
                            <td>فاكهة</td>
                            <td>85631</td>
                            <td>15$</td>
                            <td class="warning ">انتظار</td>
                            <td class="primary ">التفاصيل</td>
                        </tr>
                        <tr>
                            <td>فاكهة</td>
                            <td>85631</td>
                            <td>15$</td>
                            <td class="warning ">انتظار</td>
                            <td class="primary ">التفاصيل</td>
                        </tr>
                        <tr>
                            <td>فاكهة</td>
                            <td>85631</td>
                            <td>15$</td>
                            <td class="warning ">انتظار</td>
                            <td class="primary ">التفاصيل</td>
                        </tr>
                        <tr>
                            <td>فاكهة</td>
                            <td>85631</td>
                            <td>15$</td>
                            <td class="warning ">انتظار</td>
                            <td class="primary ">التفاصيل</td>
                        </tr>
                    </tbody>
                </table>
                <a href="# ">عرض المزيد</a>
            </div>
        </main>

        <div class="right ">
            <div class="top ">
                <button id="menu-btn ">
                    <span class="material-icons ">menu</span>
                </button>
                <div class="theme-toggler ">
                    <span class="material-icons active ">light_mode</span>
                    <span class="material-icons ">dark_mode</span>
                </div>
                <div class="profile ">

                    <div class="profile-photo ">
                        <img src="user.png" alt="profile-photo ">
                    </div>
                </div>
            </div>

            <div class="recent-updates ">
                <h2>أحدث النشاطات</h2>
                <div class="updates ">
                    <div class="update ">
                        <div class="profile-photo ">
                            <img src="## " alt="profile-photo ">
                        </div>
                        <div class="message ">
                            <p><b>محمد</b> استلم طلبه أمس.</p>
                            <small class="text-muted ">2 Minutes Ago</small>
                        </div>
                    </div>

                    <div class="update ">
                        <div class="profile-photo ">
                            <img src="## " alt="profile-photo ">
                        </div>
                        <div class="message ">
                            <p><b>أحمد</b> تسلم طلبه اليوم.</p>
                            <small class="text-muted ">2 Minutes Ago</small>
                        </div>
                    </div>

                    <div class="update ">
                        <div class="profile-photo ">
                            <img src="## " alt="profile-photo ">
                        </div>
                        <div class="message ">
                            <p><b>حسن</b> لم يستلم بعد.</p>
                            <small class="text-muted ">2 Minutes Ago</small>
                        </div>
                    </div>

                </div>
            </div>


            <div class="sales-analytics ">
                <h2>إحصائيات البيع</h2>
                <div class="item online ">
                    <div class="icon ">
                        <span class="material-icons ">shopping_cart</span>
                    </div>
                    <div class="right ">
                        <div class="info ">
                            <h3>طلبات اونلاين</h3>
                            <small class="text-muted ">اخر 24 ساعة</small>
                        </div>
                        <h5 class="success ">+39%</h5>
                        <h3>3849</h3>
                    </div>
                </div>

                <div class="item offline ">
                    <div class="icon ">
                        <span class="material-icons ">local_mall</span>
                    </div>
                    <div class="right ">
                        <div class="info ">
                            <h3>طلبات اوفلاين</h3>
                            <small class="text-muted ">اخر 24 ساعة</small>
                        </div>
                        <h5 class="danger ">-17%</h5>
                        <h3>1100</h3>
                    </div>
                </div>

                <div class="item customers ">
                    <div class="icon ">
                        <span class="material-icons ">person</span>
                    </div>
                    <div class="right ">
                        <div class="info ">
                            <h3>زبائن جدد</h3>
                            <small class="text-muted ">اخر 24 ساعة</small>
                        </div>
                        <h5 class="success ">+25%</h5>
                        <h3>849</h3>
                    </div>
                </div>

                <div class="item add-product ">
                    <div>
                        <span class="material-icons ">add</span>
                        <h3>إضاف منتج</h3>
                    </div>

                </div>
            </div>
        </div>
    </div>
    <script src="script.js "></script>
</body>

</html>