@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmer house-blog</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!--css file link  -->
    <link rel="stylesheet" href="~/css/testStore.css">

</head>
<body>

    <!-- header section starts  -->

    <partial name="_header" />

    <!-- header section ends -->
    <!--head part-->

    <div class="head">
        <h1>مقالاتنا</h1>
        <!--<p> <a href="home.html">home >></a> blog </p>-->

    </div>



    <!--blog section starts-->
    <section class="blogs">

        <div class="box-container">

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (1).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (2).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (8).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (4).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (5).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (6).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (7).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (8).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>

            <div class="box">
                <div class="image">
                    <img src="~/lib/Images/blogs (9).jpg" alt="">
                </div>
                <div class="content">
                    <div class="icons">
                        <a href="#"> <i class="fas fa-calendar"></i> 3-4-2022 </a>
                        <a href="#"> <i class="fas fa-user"></i> اسم المشرف </a>
                    </div>
                    <h3>عنوان المقال </h3>
                    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, dolor!</p>
                    <a href="#" class="btn">أقرأ المزيد</a>
                </div>
            </div>


        </div>

    </section>



    <!--blog section ends-->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="/store"> <i class="fas fa-tractor"></i> الصفحة الرئيسية </a>
                <a href="/store/shop"> <i class="fas fa-tractor"></i> المتجر</a>
                <a href="/store/features"> <i class="fas fa-tractor"></i> المميزات</a>
                <a href="/store/about"> <i class="fas fa-tractor"></i> معلومات عنا</a>
                <a href="/store/review"> <i class="fas fa-tractor"></i>المراجعات</a>
                <a href="/store/blog"> <i class="fas fa-tractor"></i> المقالات</a>
                <a href="/store/contact"> <i class="fas fa-tractor"></i>  اتصل بنا</a>
            </div>

            <div class="box">
                <h3>روابط إضافية</h3>
                <a href="#"> <i class="fas fa-tractor"></i> طلبي</a>
                <a href="#"> <i class="fas fa-tractor"></i> حسابي </a>
                <a href="#"> <i class="fas fa-tractor"></i> المفضلة </a>
                <a href="#"> <i class="fas fa-tractor"></i> farmer friend تطبيق </a>
                <a href="#"> <i class="fas fa-tractor"></i> farmer club تطبيق </a>
                <a href="#"> <i class="fas fa-tractor"></i>فريقنا  </a>
            </div>

            <div class="box">
                <h3>تابعنا</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>
        </div>

    </section>

    <section class="credit">created by Hend EL_Ghandour </section>


    <!-- footer section ends -->
    <!-- loader part  -->
    <div class="loader-container">
        <img src="~/lib/Images/farm.gif" alt="">
    </div>

    <!-- js file link  -->
    <script src="~/js/testStore.js"></script>
</body>
</html>