@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>farmer house</title>
    <script src="https://kit.fontawesome.com/64d58efce2.js"
            crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />

    <!--css file link  -->
    <link rel="stylesheet" href="~/css/testStore.css">

</head>
<body>

    <!-- header section starts  -->

    <partial name="_header" />

    <!-- header section ends -->
    <!--home section starts-->
    <section class="home">

        <div class="slides-container">

            <div class="slide active">
                <div class="content">
                    <span>عروض اليوم</span>
                    <h3>خصم حتي %40 </h3>

                    <a href="#" class="btn">تسوق الآن</a>
                </div>
                <div class="image">
                    <img src="~/lib/Images/kiwi.png" alt="">
                </div>
            </div>

            <div class="slide">
                <div class="content">
                    <span>عروض اليوم</span>
                    <h3>خصم حتي %40 </h3>
                    <a href="#" class="btn">تسوق الآن</a>
                </div>
                <div class="image">
                    <img src="~/lib/Images/tomato.png" alt="">
                </div>
            </div>

            <div class="slide">
                <div class="content">
                    <span>عروض اليوم </span>
                    <h3>خصم حتي %40 </h3>
                    <a href="#" class="btn">تسوق الآن</a>
                </div>
                <div class="image">
                    <img src="~/lib/Images/lemon.png" alt="">
                </div>
            </div>

            <div class="slide">
                <div class="content">
                    <span>عروض اليوم</span>
                    <h3>خصم حتي %40 </h3>
                    <a href="#" class="btn">تسوق الآن</a>
                </div>
                <div class="image">
                    <img src="~/lib/Images/onion.png" alt="">
                </div>
            </div>

        </div>

        <div id="next-slide" class="fas fa-angle-right" onclick="next()"></div>
        <div id="prev-slide" class="fas fa-angle-left" onclick="next()"></div>

    </section>

    <!--home section ends-->
    <!--banner section starts-->

    <section class="banner-container">

        <div class="banner">
            <img src="~/lib/Images/carrot.png" alt="">
            <div class="content">
                <span>لفترة محدودة</span>
                <h3>خصم حتي %30</h3>
                <a href="#" class="btn">تسوق الآن</a>
            </div>
        </div>

        <div class="banner">
            <img src="~/lib/Images/grapes.png" alt="">
            <div class="content">
                <span>لفترة محدودة</span>
                <h3>خصم حتي %30</h3>
                <a href="#" class="btn">تسوق الآن</a>
            </div>
        </div>

        <div class="banner">
            <img src="~/lib/Images/banana.png" alt="">
            <div class="content">
                <span>لفترة محدودة</span>
                <h3>خصم حتي %30</h3>
                <a href="#" class="btn">تسوق الآن</a>
            </div>
        </div>

    </section>

    <!--banner section ends-->
    <!-- footer section starts  -->

    <section class="footer">

        <div class="box-container">

            <div class="box">
                <h3>روابط سريعة</h3>
                <a href="/store"> <i class="fas fa-tractor"></i> الصفحة الرئيسية </a>
                <a href="/store/shop"> <i class="fas fa-tractor"></i> المتجر</a>
                <a href="/store/features"> <i class="fas fa-tractor"></i> المميزات</a>
                <a href="/store/about"> <i class="fas fa-tractor"></i> معلومات عنا</a>
                <a href="/store/review"> <i class="fas fa-tractor"></i>المراجعات</a>
                <a href="/store/blog"> <i class="fas fa-tractor"></i> المقالات</a>
                <a href="/store/contact"> <i class="fas fa-tractor"></i>  اتصل بنا</a>
            </div>

            <div class="box">
                <h3>روابط إضافية</h3>
                <a href="#"> <i class="fas fa-tractor"></i> طلبي</a>
                <a href="#"> <i class="fas fa-tractor"></i> حسابي </a>
                <a href="#"> <i class="fas fa-tractor"></i> المفضلة </a>
                <a href="#"> <i class="fas fa-tractor"></i> farmer friend تطبيق </a>
                <a href="#"> <i class="fas fa-tractor"></i> farmer club تطبيق </a>
                <a href="#"> <i class="fas fa-tractor"></i>فريقنا  </a>
            </div>

            <div class="box">
                <h3>تابعنا</h3>
                <a href="#"> <i class="fab fa-facebook-f"></i> facebook </a>
                <a href="#"> <i class="fab fa-twitter"></i> twitter </a>
                <a href="#"> <i class="fab fa-instagram"></i> instagram </a>
                <a href="#"> <i class="fab fa-linkedin"></i> linkedin </a>
                <a href="#"> <i class="fab fa-pinterest"></i> pinterest </a>
            </div>
        </div>

    </section>

    <section class="credit">created by Hend EL_Ghandour </section>

    <!-- footer section ends -->
    <!-- loader part  -->
    <div class="loader-container">
        <img src="~/lib/Images/farm.gif" alt="">
    </div>

    <!-- js file link  -->
    <script src="~/js/testStore.js"></script>
</body>
</html>